.App {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(18, 27, 4, 0.9),
      rgba(11, 43, 57, 0.9)
    ),
    url(./img/head-cover.jpeg);
  color: white;
  min-height: 20vh;
  background-size: cover;
  background-position: top;
  position: sticky;
  top: 0px;
  margin: 0;
  z-index: 99;
}

.App-link {
  color: #09d3ac;
}

.send-eth {
  padding-top: 50px;
}

.register {
  width: 30%;
  min-width: 300px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.header-name {
  text-align: right;
  margin-right: 10px;
}

.container {
  margin: 5%;
}

.footer {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(18, 27, 4, 0.9),
      rgba(11, 43, 57, 0.9)
    ),
    url(./img/head-cover.jpeg);
}

.mail-foot {
  padding-left: 50px;
}
