.manager {
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #e3e3ea;
    min-height: 100vh;
  }

  .manager-head {
    color: rgb(120, 19, 19);
    font-size: medium;
    font-weight:bold;
  }

  .manager-body {
    margin-top: 60px;
  }

  .list-card {
    padding-bottom: 5%;
  }